.navbar {
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1000; /* Ensure it stays above other elements */
  padding: 10px 20px; /* Adjust padding as needed */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 50px; /* Adjust logo size as needed */
}

.navbar-links {
  display: flex;
  gap: 20px;
  margin-right: 2.5rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem; /* Adjust text size */
  padding: 10px 20px;
  transition: transform 0.3s, color 0.3s;
}

.navbar-links a:hover {
  transform: scale(1.2);
  color: orange;
}
